<!--  --------------------------------------------------------  -->


<div class="container">
    <div class="row ml-1 mr-1 mt-3 p-3  offershead">
        Offers From Hadaak Al Shawerma 
     </div>
    <div class="card mb-2 mt-2 pt-1 pb-0" [routerLink]="['/AllResturants/Rest1/Details']">
        <div class="card-body p-2">
            <div class="row">

                <div class="col-2 d-flex justify-content-center">
                    <div class="imgcontainer d-flex justify-content-center">
                        <img class=" p-1" src="{{getrest()[0].copuns[0].imagUrl}}">
                    </div>
                </div>

                <div class="col-6 ">

                    <div class="card-title">
                        <h5>{{getrest()[0].copuns[0].title}}</h5>
                    </div>
                    <div class="card-text">
                        <p>{{getrest()[0].copuns[0].description}}</p>
                    </div>

                </div>

                <div class="col-3 text-right mt-4">
                    <p>{{getrest()[0].copuns[0].price}} EG</p>
                </div>

            </div>
        </div>

    </div>
</div>

<!-- rest1 offer2-->

<div class="container">
    <div class="card mb-2 mt-2" [routerLink]="['/AllResturants/Rest1/Details']">
        <div class="card-body p-2">
            <div class="row">

                <div class="col-2 d-flex justify-content-center">
                    <div class="imgcontainer d-flex justify-content-center">
                        <img class=" p-1" src="{{getrest()[0].copuns[0].imagUrl}}">
                    </div>
                </div>

                <div class="col-6 ">

                    <div class="card-title">
                        <h5>{{getrest()[0].copuns[0].title}}</h5>
                    </div>
                    <div class="card-text">
                        <p>{{getrest()[0].copuns[0].description}}</p>
                    </div>

                </div>

                <div class="col-3 text-right mt-4">
                    <p>{{getrest()[0].copuns[0].price}} EG</p>
                </div>

            </div>
        </div>

    </div>
</div>

<!--rest1 offer3 -->

<div class="container">
    <div class="card mb-2 mt-2" [routerLink]="['/AllResturants/Rest1/Details']">
        <div class="card-body p-2">
            <div class="row">

                <div class="col-2 d-flex justify-content-center">
                    <div class="imgcontainer d-flex justify-content-center">
                        <img class=" p-1" src="{{getrest()[0].copuns[0].imagUrl}}">
                    </div>
                </div>

                <div class="col-6 ">

                    <div class="card-title">
                        <h5>{{getrest()[0].copuns[0].title}}</h5>
                    </div>
                    <div class="card-text">
                        <p>{{getrest()[0].copuns[0].description}}</p>
                    </div>

                </div>

                <div class="col-3 text-right mt-4">
                    <p>{{getrest()[0].copuns[0].price}} EG</p>
                </div>

            </div>
        </div>

    </div>
</div>