.order-summary {
    margin-bottom: 5%;
    margin-top: 5%;
}

.ord-sum {
    border: 1px solid #ddd;
    margin-top: 5%;
    margin-bottom: 5%;
    justify-content: center;
}

.head {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 1%;
    border-bottom: 1px solid #ddd;
    max-width: 100%;
}



.head2 {
    padding-left: 3%;
}

.address {
    margin-bottom: 5%;
}

.payment {
    margin-bottom: 5%;
}

