<div class="container">
  <br>
  <div class="row">
    <div class="col-3">
      <menu-item-catogery [catogeryName]="catName" [rest-id-loc]="restDetails" ></menu-item-catogery>
    </div>
    <div class="col">
      <!-- <div class="row"> -->
        <ng-container *ngFor="let item of fiteredMenuLst;let i=index;">
          <div class="col">
            <menu-item-card [menu-item]="item" [rest-and-Loc]="restDetails"></menu-item-card>
          </div>
          <!-- <div *ngIf="(i+1)%2===0" class="w-100"></div> -->
        </ng-container>
      <!-- </div> -->
    </div>
    <div class="col-4  d-none d-lg-block">
      <div class="card sticky-top my-3">
        <div class="card-header">Your Cart</div>
        <div class="card-body">
          <h5 class="card-title">{{restaurant.name}}</h5>
          <!-- <p class="card-text"> -->
          <ul class="list-group">
            <li class="list-group-item  my-1 p-1 border-top" *ngFor="let prd of cartLst">
              <div class="row no-guttters">
                <div class="col-4">
                  <div class="row no-gutters pt-2">
                    <div class="col-4 ">
                      <a class="btn btn-sm btn-secondary btn-block" (click)="removeFromCart(prd)">-</a>
                    </div>
                    <div class="col text-center">
                      {{prd.quantity}}
                    </div>
                    <div class="col-4">
                      <button class="btn btn-sm btn-secondary btn-block" (click)="addToCart(prd)">+</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  {{prd.name}}
                </div>
                <div class="col-4">
                  {{prd.totalPrice | currency:'USD':'$' }}
                </div>
              </div>
            </li>
          </ul>
          <ul class="list-group">
            <li class="list-group-item  my-1 p-1 border-top" style="text-align: center;">
              Total Price  =  {{ totalPrice | currency : 'USD':'EGP'}}
            </li>
            <li class="list-group-item  my-1 p-1 border-0" style="text-align: end;" >
              <button type="button" class="btn btn-primary btn-sm btn-block " routerLink="/MyCart/CheckOut">Check Out</button>
            </li>
          </ul>
          

          <!-- </p> -->
        </div>
      </div>
    </div>
  </div>
</div>
